<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="RefLibStringSetting" value="Some string value from RefLib config" />
    <add key="RefLibIntSetting" value="123" />
    <add key="RefLibCustomDateSetting" value="21082016" />
    <add key="RefLibOverriddenSetting" />
  </appSettings>
</configuration>